/*------------------------------------*\
    $BASE COLORS
\*------------------------------------*/

$white: #fff;
$black: #000;
$neutral: #bcbec0;


/*------------------------------------*\
    $PALLETA
\*------------------------------------*/

$cl-yellow: #FFD400;
$cl-orange: #F58229;
$cl-pink: #EF4066;
$cl-red: #C9243A;
$cl-purple: #5C2D91;
$cl-lilac: #942977;
$cl-navy: #2A2A86; 
$cl-blue: #0095DA;
$cl-lt_blue: #00BBCE;
$cl-acqua: #00A995;
$cl-green: #007F49;
$cl-lt_green: #A6CE39;



/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/

$bg: #172833;
$ui: $cl-orange;
$accent: $cl-red;
$bg-para-mim: $cl-orange;
$ui-para-mim: $cl-red;
$sec-para-mim: $cl-lilac;
$bg-para-minha-familia: $cl-blue;
$ui-para-minha-familia: $cl-purple;
$sec-para-minha-familia: $cl-lt_green;
$bg-para-minha-empresa: $cl-lilac;
$ui-para-minha-empresa: $cl-lt_blue;
$sec-para-minha-empresa: $cl-orange;
$bg-para-minha-escola: $cl-navy;
$ui-para-minha-escola: $cl-blue;
$sec-para-minha-escola: $cl-pink;
$bg-agende-sua-visita: $cl-red;
$ui-agende-sua-visita: $cl-pink;
$bg-institucional: $cl-purple;
$ui-institucional: $cl-orange;
$bg-floats: $cl-pink;
$form-btns: $cl-lt_green;
$back-btns: $cl-orange;